<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1>Inschrijven voor {{selectedActivity.name}}</h1></div>
        </div>
        <div class="row">
            <div class="col-md-12"><h3>{{selectedActivity.description}}</h3></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="slots_{{selectedActivity.id}}">
                    <div ng-repeat="(key, value) in selectedActivity.slots | groupBy:'startDate'">
                        {{ key | date:'dd-MM-yyyy' }}
                        <div class="radio" ng-repeat="slot in value">
                            <label><input type="radio" name="{{selectedActivity.id}}_opt" ng-disabled="isSlotOccupied(slot.id,selectedActivity.id)" ng-click="selectSlot(slot)">{{slot.start | date:'HH:mm'}} - {{slot.end | date:'HH:mm'}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">Details</div>
        </div>
        <div class="row" ng-show="isEnrolledByCurrentUser">
            Je bent reeds ingeschreven!
        </div>
        <div class="row" ng-show="!isEnrolledByCurrentUser">
            <a class="btn btn-small" role="button" title="Schrijf in!" ng-disabled="selectedSlot==null" ng-click="addEnrollment(selectedActivity.id)">
                <i class="fa fa-2x fa-send"></i>
            </a>
        </div>
    </div>
</div>